*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
body{
    /*background: rgb(254,234,197);
    background: radial-gradient(circle, rgba(254,234,197,1) 20%, rgba(252,251,164,1) 61%);*/
    width: 100%;
    height: 140vh;
    background: #50C9C3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #96DEDA, #50C9C3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #96DEDA, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.container{
    width: 100%;
    max-width: 1150px;
    margin-left: 170px;
    margin-top: 100px;
}

.lbl-menu{
    background:  #fff;
}
.lbl-menu label{
    display: inline-block;
    padding: 15px;
    padding-left: 20px;
    font-weight: bold;
    padding-right: 20px;    font-family: 'Balsamiq Sans', cursive;
    font-size: 2.3em;
    cursor: pointer;
    transition: all 400ms ease;
}
.lbl-menu label:hover{
    border-radius: 50px;
}
#A{
    color: #E33E4E;
}
#A:hover{
    background: #E33E4E;
    color: #fff;
}
#E{
    color: #F28A2E;
}
#E:hover{
    background: #F28A2E;
    color: #fff;
}
#I{
    padding-left: 27px;
    padding-right: 27px;
    color: #2E338C;
}
#I:hover{
    background:#2E338C;
    color: #fff;
}
#O{
    color: #F21D2F;
}
#O:hover{
    background: #F21D2F;
    color: #fff;
}
#U{
    color: #04B2D9;
}
#U:hover{
    background: #04B2D9;
    color: #fff;
}

.content{
    position: relative;
    width: 100%;
}
.content h2{
    color:  #0f0f10;
    font-family: 'Caveat Brush', cursive;
    font-size: 1.9em;
}

.content .tabs{
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.90);
    padding: 30px;
    background-image: url('../images/cuaderno.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
    width: 100%;
}

#radio1, #radio2, #radio3, #radio4, #radio5{
    display: none;
}

#radio1:checked ~ #tab1,
#radio2:checked ~ #tab2,
#radio3:checked ~ #tab3,
#radio4:checked ~ #tab4,
#radio5:checked ~ #tab5
{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}


@media (max-width: 500px){
    .container{
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;

    }
}