*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

body{
	background: white;
    font-family: 'Neucha', cursive;
	color: black;
	font-size: 1.2rem;
	line-height: 1.6em;
	margin: 0;
	

}

h1{
	line-height: 1.3em;
	font-size: 1.6rem;
	font-family: 'Balsamiq Sans', cursive;
}

p{
	margin: 1.6em;
	text-align: justify;
}


.container{
	width: 80%;
	margin: 0 auto;
}

.main{
	padding-top: 3em;
	height: auto;
	width: 100%;
}

.footer{
	padding: 2rem 0;
	color: white;
	letter-spacing: 2px;
	background: #667db6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	text-align: center;
	margin-top: 6rem;
}

.slider{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
}

.slider ul{
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate;
}

.slider li{
	width: 100%;
	list-style: none;
}

.slider img{
	width: 100%
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}