*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    font-family:'Arial Rounded MT';
    font-size: 1.2em;
    
margin-left: 1em;
margin-right: 1em;
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botones{
display: flex;
flex-direction: row;
width: 100%;
}
.space
{
    width: 84%;
}
#cerrar img {
    position: absolute;
    transition: opacity 0.3s ease-in-out;
  }
  #cerrar img.top:hover {
    opacity: 0;
    cursor: pointer;
  }

  #acerca img {
    position: absolute;
    transition: opacity 0.3s ease-in-out;
  }
  #acerca img.top:hover {
    opacity: 0;
    cursor: pointer;
  }

#start{
    float: left;
}
#start img {
    position: absolute;
    left: 40%;
    transition: opacity 0.3s ease-in-out;
  }
  #start img.top:hover {
    opacity: 0;
    cursor: pointer;
  }
  