*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

.modal{
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 99999999;
    background: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.35s ease;
    display: flex;
}

.modal .content-modal{
    display: flex;
    flex-direction: column;
    height: 580px;
    width: 80%;
    position: fixed;
    left: 10%;
    top: -100vh;
    transition: top 0.35s ease;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 2.5%;
    z-index: 99999999;
    margin: 0 auto;
}
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 4em;
}

.opc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden; /*todo lo que este afuera se oculta*/
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transform: all 400ms ease;
}
header h2{
    padding-top: 1em;
    font-size: 2.5em;
    font-weight:lighter;
    color:  #0e0e8a;
    font-family: 'Chewy', cursive;
   letter-spacing: 5px;
    text-shadow: 2.5px 2.5px #5f5fd1bb;

}
.opc:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
h1{
    font-family: 'Caveat Brush', cursive;
    font-size: 2.5em;
    font-weight: normal;
}
h3{
    font-family: 'Neucha', cursive;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.Dwn{
    padding: 0.5em;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    text-decoration: none;
    width: 70%;
    height: 60px;
    font-size: 1.5em;
}
#uno{
    background-color: #D93D59;
    color: #fff;
    border: 1px solid;
    border-radius: 20px;
}
#uno:hover{
    background: #d31336;
    cursor: pointer;
    font-size: 1.7em;
    
    
}
#dos{
    background-color:#F28B30;
    color: #fff;
    border: 1px solid;
    border-radius: 30px;
}
#dos:hover{
    background: #f27d17;
    cursor: pointer;
    font-size: 1.7em;
}
#tres{
    background-color:#027DC1;
    color: #fff;
    border: 1px solid;
    border-radius: 30px;
}
#tres:hover{
    background: #0570aa;
    cursor: pointer;
    font-size: 1.7em;
}



.close{
    color: white;
    position: absolute;
    top: 0.2em;
    right: 0.375em;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Caveat Brush', cursive;
    font-size: 2.2em;
    background-image: radial-gradient( circle 972.6px at 10% 20%,  rgba(243,0,75,1) 0%, rgba(255,93,75,1) 90% );
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-top: 5px;
}


.modal:target{
    opacity: 1;
    top: 0;
}

.modal .btn-close-modal{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999991;
}

.modal:target .content-modal{
    top:50px;
    transition: top 0.35s ease;
}

