

header {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position:absolute; 
    z-index:3;
    
}

header nav {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #667db6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 4px 4px rgba(44, 57, 70, 0.5);


}

.icono {
    display: none;
}
.icono i{
    color:  black;
}
.enlaces {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.enlaces a {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 4px 0;
    transition: 0.4s ease-out;
    color: white;
    text-decoration: none;
    font-family: 'Caveat Brush', cursive;
    font-size: 1.3em;
    letter-spacing: 1px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: #fff dashed 1.5px;
    
}

.enlaces a:hover {
    color: white;
	background: #2faef3;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
    cursor: pointer;
}


@media screen and (max-width:950px) {
    .icono {
        display: flex;
        justify-content: center;
        height: 70px;
        align-items: center;
        color: #fff;
        background: transparent;
        padding: 20px;
        z-index: 100;
        cursor: pointer;
        margin-left: 90%;
    }
    nav .logo a{
        font-size: 2.2em;
    }

    .enlaces {
        position: fixed;
        height: 100vh;
        right: 0;
        width: 100%;
        flex-direction: column;
        transition: all 1s ease;
        background: #667db6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

    }

    .enlaces a {
       
        font-size: 1.6em;
        letter-spacing: 1px;
    }

    .uno {

        -webkit-clip-path: circle(0% at 100% 0%);
        clip-path: circle(0% at 100% 0%);

    }

    .dos {

        -webkit-clip-path: circle(150% at 100% 0%);
        clip-path: circle(150% at 100% 0%);
    }

}

@media screen and (max-width:500px){
    .icono{
        margin-left: 85%;
    }
}